{% extends 'base.html' %}

{% block head %}
<title>HL7 Extractor</title>
{% endblock %}

{% block body %}

<div class="content pb-5" style="width: 50%;" >
    <div style="text-align: center"><h1>HL7 Extractor</h1>
        <button id="toggle" onclick="toggleForm()" type="button">Show Form</button>
    </div>
    
    <div class="form" id="form" style="display:none">
        <form action="/" method="POST">
            <textarea type="text" name="content" id="content" style="width: 100%;" rows="15" placeholder="Enter HL7 message..."></textarea>
            <div class="" style="float: right;">
                <input type="submit" value="Add Message">
            </div>
        </form>
    </div>
</div>

<div class="output-container">
    <hr/>
    {% if not messages %}
    <h4 style="text-align: center">There are no messages. Create one above!</h4>
    {% else %}
    <div class="" style="display: flex; justify-content: space-between;align-items: center;">
        <div class="" style="display: flex; gap: 5px;align-items: center;padding: 10px 0 10px 0;">
            {% if messages.pages > 0 %}
            <button id="analyze" name="show" onclick="analyzeData()" style="margin-right: 5px;padding: 2px 5px;">Analyze Data</button>
            {% endif %}
            <a href="/" onclick="resetFilter()" style="background-color: ButtonFace; color: black; padding: 2px 5px;border: solid 1px black;text-decoration: none;">Reset Filter</a>
            <div class="pl-5"><strong>Filter By:</strong>
                <select name="filterBy" id="filterBy" style="margin-top: 2px;padding-right: 5px;" onchange="changeFilter(event)">
                    <option value="" id="filterby_placeholder"></option>
                    <option value="day">Day</option>
                    <option value="year">Year</option>
                    <option value="month">Month</option>
                </select>
            </div>
            <div class="">
                
                <form id="dayForm" action="/" method="GET">
                    <input id="day" name="day" type="date" style="display: none;" onchange="filterDay(event)" value="{{ day }}">
                    
                </form>

                <form id="monthForm" action="/" method="GET">
                    <input id="month" name="month" type="month" style="display: none;" onchange="filterMonth(event)" value="{{ month }}">
                </form>

                <form id="yearForm" action="/" method="GET">
                    <select id="year" name="year" style="display: none;margin-top: 2px;padding-right: 5px;" onchange="filterYear(event)">
                        {% if not year %}
                        <option value="" disabled selected></option>
                        {% endif %}

                        {% for current_year in range(2000, 2026)|reverse %}
                            {% if year == current_year|string %}
                            <option value="{{year}}" selected>{{year}}</option>
                            {% else %}
                            <option value="{{current_year}}">{{current_year}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="pl-5">
                <div class="" style="display: flex;align-items: center; gap: 5px;">
                    <strong>Sort By:</strong>
                    <select name="order" id="order" style="margin-top: 0px;" onchange="sortDate(event)">
                        <option value="latest">Latest</option>
                        {% if sortBy == "oldest" %}
                        <option value="oldest" selected>Oldest</option>
                        {% else %}
                        <option value="oldest">Oldest</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        <div class="messages">
            <div class="pagination">
            {% if messages.has_prev %}
                <a class="page-number" onclick="return navigatePage({{ messages.prev_num }})" href="#">&lt;</a> 
            {% endif %}

            {% for number in messages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                {% if number %}
                    {% if messages.page != number %}
                        <a class="page-number" onclick="return navigatePage({{ number }})" href="#">{{number}}</a>
                    {% else %}
                        <span class='current-page-number'>{{ number }}</span>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            {% if messages.has_next %}
                <a class="page-number" onclick="return navigatePage({{ messages.next_num }})" href="#">&gt;</a>
            {% endif %}

            </div>

            {% if messages.pages > 0 %}
            <div class="total-pages">
                Page {{ messages.page }} of {{ messages.pages }}
            </div>
            {% endif %}
        </div>
    </div>

    <table>
        <thead>
            <tr class="bg-primary text-white"></tr>
                <th colspan="5">Raw Data</th>
                <th class="text-center">Added On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if messages.pages > 0 %}
                {% for message in messages %}
                <tr>
                    <td colspan="5" style="word-wrap: break-word;overflow: hidden;text-wrap: nowrap;">
                        <div style="display: flex;column-gap: 5px;">
                            <div class="" style="font-weight: 600;">{{ message.id }}.</div>
                            <div class="" style="flex-grow: 1;">{{ message.content }}</div>
                        </div>
                    </td>
                    <td class="text-center">{{ message.date_created.date() }}</td>
                    <td class="text-center">
                        <a class="text-dark" href="/result/{{message.id}}" onclick="setLinkURL()"><u>Extract</u></a>
                        <div class="">
                        <a class="text-primary" href="/update/{{message.id}}"><u>Update</u></a>
                        </div>
                        <form action="/delete/{{message.id}}" method="POST"></form>
                            <button class="text-danger" type="submit" onclick="confirmDelete(event)" id="{{message.id}}">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="7" style="text-align: center;">
                    <div class="" style="height: 100px;display: flex;flex-direction: column;justify-content: center;">
                        <p style="font-size: 18px;">There are no records found...</p>
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    

    <div class="mt-5" id="analysis" style="position: absolute; top: -1000px;">
        <div class=""><h4>Analysis</h4></div>
        <div class="" style="display: grid;grid-template-columns: repeat(2, 1fr);gap: 10px;">
            <div class="" style="border: 1px solid black; margin-top: 5px;overflow: hidden;display: inline-block;padding: 20px;user-select: none;">
                <iframe srcdoc="{{ fig_gender }}" width="100%" height="400" frameborder="0" scrolling="no" style="margin: -10px 0 0 -10px;"></iframe>
            </div>
            <div class="" style="border: 1px solid black; margin-top: 5px;overflow: hidden;display: inline-block;padding: 20px;user-select: none;">  
                <iframe srcdoc="{{ fig_age }}" width="100%" height="400" frameborder="0" scrolling="no" style="margin: -10px 0 0 -10px;"></iframe>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}