<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Chart Example</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h3>Line Graph Representation</h3>

    <!-- scatter plot goes in this div -->
    <div id='all-pub-graph'></div>

    <script type="text/javascript">

        // here is where the JSON gets plugged in via JS
        var the_pubs_graph = {{pub_lines_JSON | safe}};

        // you target the graph div id in the first arg, 
        // put your graph in the second, and set the third as {}
        Plotly.plot("all-pub-graph", the_pubs_graph, {});

    </script>
</body>
</html>
